@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-beige: #F9F8F6;
  --color-brand-sand: #EAE8E4;
  --color-brand-terracotta: #A67563;
  --color-brand-charcoal: #2C2C2C;
  --color-brand-warmgray: #7A7571;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-beige);
  color: var(--color-brand-charcoal);
  -webkit-font-smoothing: antialiased;
}

/* Custom minimal scrollbar for a luxury feel */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: var(--color-brand-beige);
}
::-webkit-scrollbar-thumb {
  background: #d4cbc0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5aaa0;
}
